<h1>profile Page</h1>

<% if(locals.user.id==profile_user.id) {%> 
  <!-- if user matches show update form   -->
    <form action="/users/update/<%=profile_user.id %>" method="POST">
    <input type="text" name="name" placeholder="your name" value="<%=profile_user.name %>" required>
    <input type="email" name="email" placeholder="your email" value="<%=profile_user.email%>" readonly>
    <button type="submit">submit</button>
    </form>  
  <%} else {%> 
    <!-- else  show only details -->
    <ul>
      <li>
        <%=profile_user.email%>
      </li>
      <li>
        <%=profile_user.name%>
      </li>
      </ul>
    
    
    <%}
  
  
  %>