<%if(locals.profile_user.avatar){%>
  <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>"style="width:100;height:50">

  <%} else {%>
    <img src="/images/download.jpg" alt="<%=profile_user.name%>"style="width:100;height:50">
    <b><i>please upload profile image</i></b>
    <%}
  
  
  %>

<% if(locals.user.id==profile_user.id) {%> 
  <!-- if user matches show update form   -->

  <!-- Multer adds a body object and a file or files object to the request object. The body object contains the values of the text fields of the form, the file or files object contains the files uploaded via the form. -->
  
    <form action="/users/update/<%=profile_user.id %>" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="your name" value="<%=profile_user.name %>" required>
    <input type="email" name="email" placeholder="your email" value="<%=profile_user.email%>" readonly>
    <input type="file" name="avatar"placeholder="Profile-picture">
    <button type="submit">submit</button>
    </form>  
  <%} else {%> 
    <!-- else  show only details -->
    <ul>
      <li>
        <%=profile_user.email%>
      </li>
      <li>
        <%=profile_user.name%>
      </li>
      </ul>
    
    
    <%}
  
  
  %>